@media screen and (min-width: 992px) {
  .img_default-card {
    width: 240px;
  }
  .desc-game_default-card h1 {
    font-size: 16px;
  }
  .another-info-game_default-card {

    font-size: 12px;

  }
}
