@media screen and (min-width: 992px) {
  header.contaiener_header{
    top: 0%;
    right: 0%;
    width: calc(100% - 75px);
    padding: 1rem 2.5rem;
  }
  .input-name_header{
    padding: 12px 14px;
    border-radius: 20px;
  }

  header.contaiener_header .input-name_header input{
    width: 30vw;
    font-size: 14px;
  }
  .icons_header i{
    padding: .65rem;
  }
  .icons_header img{
    width: 45px;
  }
}
