.body_small-card {
  z-index: 1;
  width: auto;
}

.img_small-card {
  width: 140px;
  border-radius: 8px;
  height: 160px;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .body_small-card {
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
  }

  .img_small-card {
    width: 225px;
    height: 140px
  }
}
