.container_home {

}

.container-gamelist_home {
  margin-top: 4rem;
  padding: .8rem;
}

.content-trending-more_home {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 992px) {
  .container-gamelist_home {
    margin-top: 15vh;
    padding: 2rem 10rem;
  }

}
