<div class="container_home">

  <big-card [games]="$games()"></big-card>

  <div class="container-gamelist_home">

      <div class="content-trending-more_home">
        <div class="content-subtitle_home">
          <h4>More</h4>
        </div>

        <list-game [games]="$games()"></list-game>
      </div>

  </div>

  <!--
    <ng-container *ngIf="isScreenSmall() else bigScreen">
    <div class="control-small-trending_home">

      <small-card></small-card>
      <small-card></small-card>

    </div>
  </ng-container>

  <ng-template #bigScreen>
    <div class="control-small-trending_home">

        <small-card></small-card>
        <small-card></small-card>
        <small-card></small-card>
        <small-card></small-card>
    </div>
  </ng-template>
  -->


</div>
