.list_container {
  position: relative;
  padding: 0;
}

.cards_container {
  display: flex;
  gap: 20px;
  padding: 15px 0;
  overflow: hidden;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
}

.btn_arrow{
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);
  z-index: 1;
  border: 1;
  position: absolute;
  transition: all .5s ease;
  opacity: 0;

  i{
    font-size: 12px;
  }
}

.btn_arrow:hover{
  background-color: var(--black_two);
  border: 1px solid var(--color_primary);
  opacity: 1;

  i{
    color: var(--color_primary);
  }
}

.btn_arrow:first-child{
  left: -3.5%;
}

.btn_arrow:last-child{
  right: -3.5%;
}
.list_container:hover .btn_arrow {
  opacity: 1;
}
