<div class="body_big-card">
  <img class="img_big_card" [src]="newImage" alt="">
  <div class="back-overlay_big-card"></div>

  <div class="container-objects_big-card">

    <div class="desc-game_big-card">
      <h1>{{newName}}</h1>
      <p></p>
      <button>See more</button>
    </div>

    <div class="container-listgame_big-card">

      @for(game of games.slice(0,4); track game.id){
        <small-card (imageClicked)="updateBigCard($event)" [games]="game"> </small-card>
      }
    </div>

  </div>



</div>
