.body_big-card {

  display: inline-flex;
  justify-content: start;
  width: 100%;
  height: 100vh;
  position: relative;

  .img_big_card {
    width: 100vw;
    height: 675px;
    object-fit: cover;
    object-position: top;

  }
}

.back-overlay_big-card {
  position: absolute;
  width: 100%;
  height: 675px;
  background: linear-gradient(0deg, var(--black_one) 0%, #1010144d 35%, #00000000 100%);
}

.container-objects_big-card {
  flex-direction: column;
  gap: 100px;
  height: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 10%;
}

.desc-game_big-card {
  width: 71.5%;
  gap: 28px;
  height: 100%;
  justify-content: end;
  display: flex;
  flex-direction: column;

  h1 {
    word-wrap: break-word;
    width: 250px;
    font-size: 36px;
  }

  p {
    width: 320px;
    font-size: 16px;
    word-wrap: break-word;
  }

  button {
    cursor: pointer;
    font-size: 16px;
    width: 12vw;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #E5E4E4;
    box-shadow: 0 0 10px #aaa8a8;
    opacity: .9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 12px;
      text-transform: uppercase;
      text-align: start;
      color: var(--black_one);
      font-weight: 600;
    }

    i {
      color: var(--black_one);
      font-size: 12px;
    }
  }
}


.container-listgame_big-card {
  width: 71.5%;
  gap: 20px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
